body {
  padding: 10px;
  color: #eee;
  font-family: sans-serif;
  background-color: #1b1b1b;
  opacity: 0.8;
  background: radial-gradient(circle, transparent 20%, #1b1b1b 20%, #1b1b1b 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #1b1b1b 20%, #1b1b1b 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#54565d 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #54565d 2px, #000000 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
